{% extends 'base.html.twig' %}

{% block title %}Bomberman{% endblock %}

{% block body %}
    <div id="parameters" class="d-none" data-number_of_players="{{ number_of_players }}"></div>
    <article>
        <canvas id="canvas" class="viewport"></canvas>
    </article>
    <a href="{{ path('homepage') }}" type="button" class="return-button btn-danger d-block text-center">
        <img src="{{ asset('img/return.png') }}">
    </a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="module" src="{{ asset('js/viewport.js') }}"></script>
{% endblock %}